.drawn {
  stroke-dasharray: 2000;
  -webkit-animation: draw 4s linear forwards;
  -o-animation: draw 4s linear forwards;
  -moz-animation: draw 4s linear fowards;
  animation: draw 4s linear forwards;
  stroke-dashoffset:2000;
}
.delayed {
  animation-delay:1s;
}
div{
  position: relative;

  div, svg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
