@import 'src/vars';

/*css & media queries*/
body{
  font-family:$defaultFonts;
  color:$defaultColor;
}

/*keyframes*/
@-webkit-keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
